#header { 
    font-family: Helvetica, sans-serif;
    color: darkslategrey; 
    padding: 12px; 
    background-color: blanchedalmond; 
    border-bottom: 1px dashed orangered;

}
body {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}
#nav {
    font-family: Trebuchet MS, sans-serif;
        padding: 12px; 
}
#hero {
    float: right;
}
p {
    font-family: Helvetica, sans-serif;
    font-size: 11pt; 
    line-height: 1.5; 
    padding: 12px; 
    margin: 0px; 
    background-color: blanchedalmond; 
}
ul {
    font-family: Helvetica, sans-serif;
    font-size: 11pt; 
    line-height: 2; 
    margin: 0px;
}

.my-nav { 
    background-color: lightblue;
}

.content {
}

.home .content {

}

.work .content {

}


#footer {
    margin-top: 50px; 
    border-top: 1px dashed orangered;
    padding: 12px; 
}
